*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
:root {
    --pietBlue: rgb(50, 81, 255);
    --pietYellow: rgb(243, 247, 6);
    --pietRed: rgb(249, 17, 17);
    --pietBlack:rgb(0,0,0);
    --pietDarkGrey:rgb(105, 105, 105);
    --borderThickness: 0.3rem ;
}
.Look{
    width: 80vw;
}
/* 
The grid is based of one of Piet Mondrain paintings, see in misc folder
The naming system is:
The first letter refer if it's the Big or Small
Then the Color after
the expation to the rule is BL as big black would have same as big blue
thus blue is Bl

Why only 2 letter? To make it possible to see the grid in text form easier

*/

 .startWrap{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 2fr 2fr 1fr;
    grid-template-rows: 3fr 5fr 5fr 2fr 2fr 1fr 2fr;
    grid-template-areas: 
    ".  .  .  .  BY BY . "
    ".  BR BR BR BY BY . "
    ".  BR BR BR .  .  . "
    ".  BB BB .  .  .  . "
    "SY BB BB .  BL BL SR"
    "SY .  .  SB BL BL SR"
    "SY .  .  .  .  .  SR"
    ;
    border: none;
}

/*.startWrap{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr 1fr 6fr 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr 9fr 1fr 9fr 1fr 6fr 1fr 6fr 1fr;
    grid-template-areas: 
    ".  .  .  LI .  .  .  LI BY BY BY LI "
    "LI LI LI LI LI LI LI LI LI LI LI LI "
    ".  LI BR BR BR BR BR LI BY BY BY LI "
    "LI LI BR BR BR BR BR LI LI LI LI LI "
    ".  LI LI LI LI LI LI LI LI LI LI LI "
    ".  LI BB BB BB LI  . LI  .  .  . LI "
    "LI LI BB BB BB LI LI LI LI LI LI LI "
    "SY LI BB BB BB LI .  LI BL BL BL LI "
    "SY LI .  .  .  LI SB LI BL BL BL LI "
    "LI LI LI LI LI LI LI LI LI LI LI LI "
    ;
    border: none;
}
*/
.startOptions{
    grid-area: BR;
    background-color: var(--pietRed);
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 2rem;
}
.startOptions button{
    border: 0.3rem solid ;
    padding: 1rem;
    width: 15rem;
}
.startOptions button a{
    color: inherit;
    text-decoration: none;
}
div, article{
    border: var(--borderThickness) solid ;
    
}
.startWrap div{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.colorBlock1{
    grid-area: BY;
    background-color: var(--pietYellow);
}

.colorBlock2{
    grid-area: SY;
    background-color: var(--pietYellow);
}

.colorBlock3{
    grid-area: BB;
    background-color: var(--pietBlack);
}

.colorBlock4{
    grid-area: SB;
    background-color:var(--pietBlack) ;
}

.colorBlock5{
    grid-area: BL;
    background-color: var(--pietBlue);
}

.colorBlock6{
    grid-area: SR;
    background-color: var(--pietRed);
}

/*.colorBlock7{
    grid-area: LI;
    background-color: var(--pietBlack);
}
*/

/* -------------------------------------------- */
/*                   Game                      */
/* ------------------------------------------ */


.gameWrap{
    background-color: salmon;
    height: 100vh;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gameWrap main {
    width: 90%;
    height: 90%;
    background-color: brown;
    display: flex;
    flex-direction: column;
   
}
.gameWrap main header{
    height: 15%;
    background-color: yellow; 
    display: flex;
    align-items: center;
}
.gameWrap main header button{
    height: 5rem;
    width: 5rem;
    max-height: 90%;
}
.gameWrap button img{
    height: 80%;
}
.gameWrap main article{
    height: 100%;
    background-color: var(--pietDarkGrey);
    display: flex;
    flex-direction: column;

}
.gameWrap article section{
    background-color: beige;
    width: 100%;
    height: 100%;
    display: flex;
    

}
.gameWrap article section p{
    background-color: rgb(106, 65, 12);
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    border: var(--borderThickness) solid var(--pietBlack);
    
}

#revealed{ 
    background-color: blue ;

}